.but1-90{
	padding: 18px;
	background-color: #b5e6e9;
}
.extrabut{
	padding: 19px;
	background-color: #b5e6e9;
}
.extrabut2{
	padding:17px;
	background-color: #b5e6e9;
}
.extrabut3{
	padding:17.6px;
	background-color: #b5e6e9;
	padding-right: 15.5px;
}
.extrabut4{
	padding:18.5px;
	background-color: #b5e6e9;
	
}
.inputspace{
	padding: 15px;
	border: solid;
	background-color: #c4d4d3;
}
div{
	margin-left: 500px;
	margin-top: 200px;
}